
@import '../../../../scss/variables.scss';

.list-group {
  position: fixed;
  top: 4rem;
  width: 8rem;
  user-select: none;
  margin: 0.5rem 0rem 0rem 1rem;
  border-radius: $borderRad;
  border-top: 1px solid rgba(74, 140, 84, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
  transition: $transition;
  
  &.no-box {
    box-shadow: none;
  }
  
  .loading-cats {
    color: $bluegrey;
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5rem auto;
    animation: spin-it 0.5s infinite linear;
  }
  
  .list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    color: $bluegrey;
    border: 1px solid rgba(74, 140, 84, 0.25);
    border-top: none;
    height: 3rem;
    padding-top: calc(0.75rem - 2px);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    transition: $transitionFast ease-in-out;
    
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $tanish;
      background-color: $bluegrey;
      box-shadow: inset 0.25px -2px 1px 2px $tanish;
      border: 1px solid $tanish-hov;
      border-top: none;
    }
    
    &:active {
      box-shadow: inset 0.25px 2px 1px 2px $tanish;
      padding-top: calc(0.75rem + 2px);
    }
    
    &.activeLink {
      text-decoration: none;
      box-shadow: inset 0.25px 2px 1px 2px $tanish;
      padding-top: calc(0.75rem + 2px);
      background-color: $bluegrey;
      color: $tanish;
      border: 1px solid $tanish-hov;
      border-top: none;
      
      .cat-item-len {
        display: inline-flex;
      }
    }
    
    .cat-item-len {
      display: none;
      backface-visibility: hidden;
    }
  }
}

.card {
  user-select: none;
  margin: 0.5rem auto;
  border-radius: $borderRad;
  border: 1px solid rgba(231, 140, 54, 0.25);
  box-shadow: 2px 2px 2px 0px rgb(0,0,0,0.15);
  transition: $transition ease-in-out;
  
  &:hover {
    border: 1px solid rgba(74, 140, 84, 0.25);
    box-shadow: 2px 2px 1px 1px hsl(129, 31%, 52%, 0.75);
    
    .card-img-top {
      transform: scale(1.25);
      border-color: transparent;
    }
  }
  
  &.last-col {
    margin-bottom: 4rem!important;
  }
  
  .card-img-top {
    margin: 1rem auto;
    border-bottom: 2px solid rgba(231, 140, 54, 0.5);
    height: 120px;
    width: 150px;
    transition: $transition ease-in-out;
  }
  
  .card-body {
    text-align: center;
    padding-top: 0rem;
    
    h5 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }

  .btm-btns-wrp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .btn-card {
      background-color: $carrot-hov;
      color: $white;
      border-radius: $borderRad;
      border: 4px solid $white;
      transition: $transitionFast;
      backface-visibility: hidden;
      
      &:hover {
        background-color: $carrot;
      }
      
      &:focus, :active {
        box-shadow: none;
      }
      
      &:active {
        transform: scale3d(0.95, 0.95, 1);
      }
      
    }
    
    .btn-card-cart {
      cursor: default;
      font-weight: bold;
      background-color: $white;
      color: $carrot;
      border-radius: $borderRad;
      border: 4px solid $carrot;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
    }
    
    .handle-left {
      height: 0.5rem;
      width: 1.75rem;
      background-color: $carrot;
      position: relative;
      left: -1px;
      margin: 0rem -4px;
      z-index: 999;
    }
    
    .handle-right {
      height: 0.5rem;
      width: 1.75rem;
      background-color: $carrot;
      position: relative;
      left: 1px;
      margin: 0rem -4px;
      z-index: 999;
    }
    
    .btn-paddle {
      background-color: $carrot;
      color: $white;
      border: none;
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
      
      &.pad-left {
        margin-right: 0rem;
        
        &:active {
          transform: scale(0.9) translateX(0.5rem);
        }
      }
      
      &.pad-right {
        margin-left: 0rem;
        
        &:active {
          transform: scale(0.9) translateX(-0.5rem);
        }
      }
    }
  }
}

@keyframes spin-it {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@media only screen and (max-width: 768px) {
  
  .right-col {
    margin: 0.5rem auto!important;
  }
  
  .list-group {
    position: initial;
    width: 12rem;
    margin: 0.5rem auto;
  }
}

// 🍇 