@import '../../../../scss/variables.scss';

.o-navbar {
  background-color: $lightGreen;
  padding: 0.25rem 1rem;
  z-index: 2999;
  box-shadow: 0px 2px 2px 0px rgb(0,0,0,0.25);
  
  .navbar-brand  {
    user-select: none;
    color: $darkGreen;
    background-color: $tanish;
    font-weight: bolder;
    display: flex;
    border: 5px solid;
    border-radius: 24px;
    height: 2rem;
    align-items: center;
    padding: 0rem 0.5rem;
    @media (min-width: 576px) {
      padding: 0rem 0.5rem 0.3rem 0.5rem;
    }
  }
  
  .o-navbar-toggler {
    margin-right: auto;
    padding: 0.5rem;
    background: transparent;
    border: none;
    font-weight: 500;
    color: $tanish;
    position: relative;
    z-index: 1999;
    transform: scale(2);
    margin-left: 1rem;
    
    @media (min-width: 576px) {
      display: none!important;
    }
    
    .nav-toggle-icon {
      font-size: 0.75rem;
      margin: auto 0rem auto 0.25rem;
    }
    
    &:hover {
      color: $darkGreen;
    }
  }

  .nav-link {
    user-select: none;
    color: $tanish;
    transition: 0.2s;
    
    &:hover {
      color: $darkGreen;
    }
    
    &.active-link {
      color: $darkGreen;
    }
    
    &.cart-link {
      transform: rotateY(180deg);
      padding: 0rem;
      font-size: 1.5rem;
      margin-right: 1rem;
      float: left;
      
      &:hover {
        color: $tanish;
        
        .cart-count {
          transform: scale(1.1) translateY(2px) rotateY(180deg);
        }
      }
      @media (min-width: 576px) {
        float: none;
        margin-left: 1rem;
      }
      
      .cart-count {
        display: inline-flex;
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 1px;
        background-color: $bluegrey;
        border-radius: 50%;
        font-size: 0.9rem;
        font-weight: bold;
        position: absolute;
        top: 2px;
        right: 1.5rem;
        transform: rotateY(180deg);
        transition: $transition;
      }
    }
  }

  .login-btn {
    margin-left: 0rem;
    font-weight: bold;
    @media (min-width: 576px) {
      margin-left: 1rem;
    }
  }
  .dropdown {
    margin-left: 0rem;
    font-weight: bold;
    @media (min-width: 576px) {
      margin-left: 1rem;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
  
  .nav-toggle-icon {
    font-size: 0.75rem;
    margin: auto 0rem auto 0.25rem;
  }
  
  .dropdown-menu {
    user-select: none;
    background-color: $tanish;
    border-radius: $borderRad;
    backface-visibility: hidden;
    transform-origin: 0% 0%;
    border-color: transparent;
    box-shadow: $buttonShadow;
    
    .dropdown-item {
      cursor: pointer;
      color: $darkGreen;
      font-weight: 500;
      
      &:hover {
        background-color: $tanish-hov;
      }
      
      &.active-dropdown-link {
        background-color: $tanish-hov;
      }
      
      &.not-admin {
        cursor: not-allowed;
        background-color: $tanish;
        
        &:hover {
          background-color: $tanish;
        }
      }
    }
  }

  .dropdown-menu.show {
    animation: show-drop $transition ease-in-out;
  }
  
  .avocado {
    background-image: url('../../../../assets/images/avocado.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    position: fixed;
    right: 1rem;
    top: 0.75rem;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.4));
  }
}
// 
@keyframes show-drop {
  from {opacity: 0; transform: scale3d(0.4, 0.4, 1)}
  to {opacity: 1; transform: scale3d(1, 1, 1)}
}
