@import '../../../scss/variables.scss';

.messageContainer {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace!important;
  height: 200px;
  width: 200px;
  background-color: black;
  color: white;
  overflow: overlay;
  // border: 1px solid red;
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border: none;
    border-radius: 0px;
    background-color: red;
  }
}