// 
@import '../../../../scss/variables.scss';

.o-new-product-btn {
  background-color: $carrot-hov;
  color: $white;
  margin: 1rem 0rem 0rem 1rem;
  border-radius: $borderRad;
  transition: $transitionFast;
  backface-visibility: hidden;
  
  &:hover {
    background-color: $carrot;
  }
  
  &:focus, :active {
    box-shadow: none;
  }
  
  &:active {
    transform: scale3d(0.95, 0.95, 1);
  }
}

.form-control {
  display: inline-flex;
  border-radius: 0.1rem;
  width: calc(75% - 12vw);
  margin-left: 1rem;
  transform: translateY(11px);
  
  &:focus {
    border-color: $tanish-hov;
    box-shadow: 0 0 0 0.2rem $tanish;
  }
}

table {
  border-radius: $borderRad;
  margin: 1rem;
  width: calc(100% - 2rem);
  
  thead {
    user-select: none;
    background-color: $darkGreen;
    color: $tanish;
  }
  
  tbody {
    
    tr {
      background-color: hsla(47, 80%, 90%, 0.25);
      transition: $transition;
      &:hover {
        cursor: crosshair;
        background-color: hsla(47, 80%, 90%, 0);
      }
    }
  }
  
  a {
    color: $carrot-hov;
    font-size: 1.25rem;
    font-weight: bold;
    transition: $transition;
    &:hover {
      color: $carrot;
      text-decoration: none;
    }
  }
}

.no-no {
  display: inline-flex;
  position: relative;
  top: -2px;
  margin-right: 0.25rem;
  backface-visibility: hidden;
  -webkit-box-reflect: below 0 linear-gradient(transparent,
                                              rgba(255,255,255,0.05),
                                              rgba(255,255,255,0.25),
                                              rgba(255,255,255,0.5));
  animation: nono 400ms ease-in-out infinite alternate-reverse;
}
@keyframes nono {
  from {transform: translateY(-0.25rem);}
  to {transform: translateY(0rem);}
}

.alert {
  user-select: none;
  border-radius: $borderRad;
  margin: 0rem 1rem;
}

.load-wrap {
  margin-left: 0.5rem;
  .load-buff {
    margin: 1rem 0rem 0rem 1rem;
    width: min-content;
    font-size: 2rem;
    animation: spin-it 0.5s infinite;
  }
}

@media only screen and (max-width: 576px) {
  .o-new-product-btn {
    margin: 1rem 0rem 0rem 0rem;
  }
  .form-control {
    margin: 1rem 0rem;
    margin-left: 0rem;
    transform: translateY(0px);
    width: 100%;
  }
  table {
    margin: 0rem 0rem 2rem 0rem;
    width: 100%;
  }
  .load-wrap {
    margin: 0rem 0rem 0rem 0.25rem;
    .load-buff {
      margin: 0rem;
    }
  }
  .alert {
    margin: 0rem 0rem;
  }
}