@import '../../../../scss/variables.scss';

.table td {
  padding: 0.5rem;
  vertical-align: middle;
}
.table th {
  padding: 0.5rem;
  vertical-align: middle;
}
.cart-table {
  margin-bottom: 0rem;
  .prod-img-td {
    
    .prod-img-wrap {
      display: flex;
      margin-left: 0.25rem;
      
      .cart-img {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 4px solid $bluegrey;
      }
      .prod-badge {
        background-color: $bluegrey;
        color: $white;
        height: fit-content;
        max-width: 6rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        letter-spacing: 2px;
        line-height: 1.15;
        position: relative;
        z-index: 1999;
        margin-left: -2.5rem;
        border-radius: 0.25rem 0.25rem 0.25rem 0rem;
        @media only screen and (max-width: 576px) {
          margin-left: -5rem;
          border-radius: 0.25rem;
          top: 0.25rem;
        }
      }
    }
  }
  
  .btm-btns-wrp {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .btn-card-cart {
      display: flex;
      position: relative;
      z-index: 1982;
      justify-content: center;
      align-items: center;
      padding: 0rem 0rem 2px 0rem;
      cursor: default;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: $white;
      color: $bluegrey;
      border-radius: 50%;
      height: 2.25rem;
      width: 2.25rem;
      border: 3.5px solid $bluegrey;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
    }
    
    .handle-left {
      height: 0.25rem;
      width: 1rem;
      background-color: $bluegrey;
      position: relative;
      left: -1px;
      margin: 0rem -1px;
      z-index: 999;
    }
    
    .handle-right {
      height: 0.25rem;
      width: 1rem;
      background-color: $bluegrey;
      position: relative;
      left: 1px;
      margin: 0rem -1px;
      z-index: 999;
    }
    
    .btn-paddle {
      padding: 0rem;
      background-color: $bluegrey;
      color: $white;
      border: none;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
      
      &.pad-left {
        margin-right: 0rem;
        &:active {
          transform: scale(0.95) translateX(0.25rem);
        }
      }
      
      &.pad-right {
        margin-left: 0rem;
        &:active {
          transform: scale(0.95) translateX(-0.25rem);
        }
      }
    }
  }
  .cart-clear-btn {
    color: $white;
    padding: 0.15rem 0.5rem;
    border-radius: $borderRad;
    transition: $transition;
    backface-visibility: hidden;
    background-color: $darkGreen-hov;
    box-shadow: $buttonShadow;
    &:hover {
      background-color: $darkGreen;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    }
    &:focus, :active {
      box-shadow: none;
    }
    &:active {
      transform: scale3d(0.95, 0.95, 1);
    }
  }
}


.check-out-btn {
  position: relative;
  display: block;
  background-color: $carrot-hov;
  color: $white;
  padding: 0.15rem 0.5rem;
  width: 100%;
  border-radius: $borderRad;
  transition: background-color 0.6s, transform $transition ease-in-out;
  backface-visibility: hidden;
  box-shadow: $buttonShadow;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255,255,255,0.8);
    transition: none;
  }

  &::before {
    content: '';
  }
  
  &:hover {
    background-color: $carrot;
    transform: scale3d(1,1.2,1) translateZ(100px);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);

    &::before {
      content: '💳';
      position: absolute;
      right: calc(0% + 0.5rem);
      font-size: 1.25rem;
      top: -0.1rem;
      z-index: 1982;
      animation: fade-in 0.2s ease-out;
      @media only screen and (max-width: 576px) {
        right: calc(0% + 1.35rem);
      }
    }
    
    &::after {
      width: 120%;
      background-color: rgba(255,255,255,0);
      transition: all 0.4s ease-in-out;
    }
  }
  
  &:focus, :active {
    box-shadow: none;
  }
  
  &:active {
    transition: transform 0.2s;
    transform: scale3d(0.95, 0.95, 1);
  }
}

@keyframes fade-in {
  from {opacity: 0; filter: blur(12px);}
  to {opacity: 1; filter: blur(0px);}
}