
<div class="row">
  <div class="col">
    <h4>Shopping Cart</h4>
    <p>You have {{shoppingCartCount}} items in your cart</p>
  </div>
</div>
<div *ngIf="isItems" class="row">
  <div class="col">
    <table class="table table-striped cart-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody [@listAnimationWrap]="cart?.length">
        <tr @listAnimationItem *ngFor="let productId of itemKeys">
          
          <td class="prod-img-td">
            <div class="prod-img-wrap">
              <img class="cart-img" [src]="cart?.items[productId].product.imageUrl" alt="&nbsp; 🤷‍♂️ image not found">
              <div class="badge prod-badge mt-auto">
                {{cart?.items[productId].product.title}}
              </div>
            </div>
          </td>
          
          <td>
            <div class="btm-btns-wrp">
              
              <button 
                (click)="addToCart(cart?.items[productId].product)"
                class="btn btn-paddle pad-left">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              
              <div class="handle-left"></div>
              
              <button  
                id="{{cart?.items[productId].product.title}}"
                class="btn btn-card-cart">
                {{getQuantity(cart?.items[productId].product)}}
              </button>
              
              <div class="handle-right"></div>
              
              <button 
                (click)="removeFromCart(cart?.items[productId].product, cart?.items[productId].product.title)"
                class="btn btn-paddle pad-right">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
              
            </div>
          </td>
          
          <td>{{cart?.items[productId].product.price * cart?.items[productId].quantity | currency:'USD':'symbol' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>
            <button 
              class="btn cart-clear-btn"
              (click)="clearCart()">
              Clear Cart
            </button>
          </th>
          <th>Total Price:</th>
          <th>{{ totalPrice | currency:'USD':'symbol' }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- 🔥🚒🧯 -->