@import '../../scss/variables.scss';
.table td {
  padding: 0.5rem;
  vertical-align: middle;
}
.cart-table {

  .prod-img-td {
    
    .prod-img-wrap {
      display: flex;
      margin-left: 0.25rem;
      .cart-img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 3px solid $bluegrey;
      }
      .prod-badge {
        background-color: $bluegrey;
        color: $white;
        height: fit-content;
        letter-spacing: 2px;
        line-height: 1.15;
        position: relative;
        z-index: 1999;
        margin-left: -1rem;
      }
    }
  }
  
  .btm-btns-wrp {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .btn-card-cart {
      display: flex;
      position: relative;
      z-index: 1982;
      justify-content: center;
      align-items: center;
      padding: 0rem 0rem 2px 0rem;
      cursor: default;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: $white;
      color: $bluegrey;
      border-radius: 50%;
      height: 2.25rem;
      width: 2.25rem;
      border: 3.5px solid $bluegrey;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
    }
    
    .handle-left {
      height: 0.25rem;
      width: 1rem;
      background-color: $bluegrey;
      position: relative;
      left: -1px;
      margin: 0rem -1px;
      z-index: 999;
    }
    
    .handle-right {
      height: 0.25rem;
      width: 1rem;
      background-color: $bluegrey;
      position: relative;
      left: 1px;
      margin: 0rem -1px;
      z-index: 999;
    }
    
    .btn-paddle {
      padding: 0rem;
      background-color: $bluegrey;
      color: $white;
      border: none;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      transition: $transition;
      
      &:focus, :active {
        box-shadow: none;
      }
      
      &.pad-left {
        margin-right: 0rem;
        &:active {
          transform: scale(0.95) translateX(0.25rem);
          ~.btn-card-cart {
            animation: add-item-2 $transition ease-in-out;
          }
        }
      }
      
      &.pad-right {
        margin-left: 0rem;
        &:active {
          transform: scale(0.95) translateX(-0.25rem);
        }
      }
    }
  }
  .cart-clear-btn {
    color: $white;
    padding: 0.15rem 0.5rem;
    border-radius: $borderRad;
    transition: $transition;
    backface-visibility: hidden;
    background-color: $darkGreen-hov;
    &:hover {
      background-color: $darkGreen;
    }
    &:focus, :active {
      box-shadow: none;
    }
    &:active {
      transform: scale3d(0.95, 0.95, 1);
    }
  }
}


@keyframes add-item-2 {
  0% {box-shadow: 0 0 0 0 $bluegrey; transform: scale(1.5);}
  100% {box-shadow: 0 0 10px 20px rgba(255,150,44,0); transform: scale(1);}
}