@import '../../scss/variables.scss';

.btm-btns-wrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  .btn-card-cart {
    cursor: default;
    font-weight: bold;
    background-color: $white;
    color: $bluegrey;
    border-radius: $borderRad;
    border: 4px solid $bluegrey;
    transition: $transition;
    
    &:focus, :active {
      box-shadow: none;
    }
  }
  
  .handle-left {
    height: 0.5rem;
    width: 1.75rem;
    background-color: $bluegrey;
    position: relative;
    left: -1px;
    margin: 0rem -4px;
    z-index: 999;
  }
  
  .handle-right {
    height: 0.5rem;
    width: 1.75rem;
    background-color: $bluegrey;
    position: relative;
    left: 1px;
    margin: 0rem -4px;
    z-index: 999;
  }
  
  .btn-paddle {
    background-color: $bluegrey;
    color: $white;
    border: none;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transition: $transition;
    
    &:focus, :active {
      box-shadow: none;
    }
    
    &.pad-left {
      margin-right: 0rem;
      &:active {
        transform: scale(0.9) translateX(0.5rem);
        ~.btn-card-cart {
          animation: add-item-2 $transition ease-in-out;
        }
      }
    }
    
    &.pad-right {
      margin-left: 0rem;
      &:active {
        transform: scale(0.9) translateX(-0.5rem);
      }
    }
  }
}

@keyframes add-item-2 {
  0% {box-shadow: 0 0 0 0 $bluegrey; transform: scale(1.025);}
  100% {box-shadow: 0 0 10px 20px rgba(255,150,44,0); transform: scale(1);}
}