<!-- TEMPLATE DRIVEN FORM -->
<div class="row">
  <div class="col-md-6 mt-4">
    
    <form 
      #f="ngForm"
      (ngSubmit)="save(f.value, f)">
      
      <div class="form-group">
        
        <label for="title">Title</label>
        <input 
          (keyup)="checkCapsLock($event)"
          #title="ngModel"
          [(ngModel)]="product.title"
          name="title"
          id="title"
          type="text"
          class="form-control"
          required>
          
        <div 
          *ngIf="title.touched && title.invalid"
          class="alert alert-danger">
            🛑 Title is required.
        </div>
        <div 
          *ngIf="capsIsOn"
          class="alert alert-warning">
            ⚠ CapsLock is on.
        </div>
        
      </div>
      
      <div class="form-group">
        
        <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input 
              #price="ngModel"
              [(ngModel)]="product.price"
              name="price"
              id="price"
              type="number"
              class="form-control"
              required
              [min]="0">
          </div>
          
        <div 
          *ngIf="price.touched && price.invalid"
          class="alert alert-danger">
          <div *ngIf="price.errors.required">🛑 Price is required.</div>
          <div *ngIf="price.errors.min">🛑 Price can not be negative.</div>
        </div>
        
      </div>
      
      <div class="form-group">
        
        <label for="category">Category</label>
        <select 
          #category="ngModel"
          [(ngModel)]="product.Category"
          name="category"
          id="category"
          class="form-control"
          required>
          
          <!-- <option value=""></option> -->
          <option 
            *ngFor="let c of categories$ | async" [value]="c.key">
              {{c.name}}
          </option>
          
        </select>
        
        <div 
          *ngIf="category.touched && category.invalid"
          class="alert alert-danger">
            🛑 Category is required.
        </div>
        <div 
          *ngIf="category.untouched"
          class="alert alert-warning">
            ⚠ Category is required.
        </div>
        
      </div>
      
      <div class="form-group">
        
        <label for="imageUrl">Image Url</label>
        <input 
          #imageUrl="ngModel"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          required
          url>
        
        <div 
          *ngIf="imageUrl.touched && imageUrl.invalid"
          class="alert alert-danger">
          <div *ngIf="imageUrl.errors.required">🛑 Image url is required.</div>
          <div *ngIf="imageUrl.errors.url">🛑 This is not a valid URL.</div>
        </div>
        
      </div>
      
      <button 
        [disabled]="f.untouched || f.invalid"
        class="btn product-submit-btn">
          Save
      </button>
      
      <button 
        *ngIf="id"
        type="button"
        (click)="deleteProduct()"
        class="btn product-submit-btn delete-btn">
          Delete
      </button>
      
      <a 
        routerLink="/admin/products"
        class="btn product-submit-btn">
          Back to products
      </a>
      
    </form>
    
  </div>
  
  <div class="col-md-6 mt-5 mb-5">
    
    <div class="card" style="width: 20rem;">
      
      <img 
        *ngIf="product.imageUrl"
        [src]="product.imageUrl"
        class="card-img-top"
        alt="produce">
      
      <div class="card-body">
        
        <h5 class="card-title">{{product.title}}</h5>
        
        <p *ngIf="!product.category">{{category.value}}</p>
        
        <p *ngIf="product.category && category.untouched" class="card-text">{{product.category}}</p>
        
        <p *ngIf="product.category && category.touched" class="card-text">{{category.value}}</p>
        
        <p class="card-text">{{ product.price | currency:'USD':'symbol' }}</p>
        
      </div>
      
    </div>
    
    <div 
      *ngIf="isSaved"
      class="alert alert-success prod-saved">
        ✔ Product saved!
    </div>
    <div 
      *ngIf="isUpdated"
      class="alert alert-info prod-saved">
        ✔ Product updated!
    </div>
    
  </div>
</div>

<!-- 🐱‍🚀 -->
