

<!-- TEMPLATE DRIVEN FORM EX. -->

<div class="row justify-content-center mt-4 mb-3">
  <div @slideInLeft class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12">
    <h4>Shipping details</h4>
  </div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-md-6 mt-4">
    
    <form 
      @fadeIn
      #f="ngForm"
      (ngSubmit)="placeOrder(f.value, f)">
      
      <div class="form-group">
        
        <label for="name">Name</label>
        <input 
          (keyup)="checkCapsLock($event)"
          #name="ngModel"
          [(ngModel)]="shipping.name"
          name="name"
          id="name"
          type="text"
          class="form-control"
          required>
          
        <div 
          @fadeIn
          *ngIf="name.touched && name.invalid"
          class="alert alert-danger">
            🛑 name is required.
        </div>
        
      </div>
      
      <div class="form-group">
        
        <label for="address">Address</label>
          
        <input 
          #address="ngModel"
          (keyup)="checkCapsLock($event)"
          [(ngModel)]="shipping.address"
          name="address"
          id="address"
          type="text"
          class="form-control"
          placeholder="city, state & zip code"
          required>
        
          <div 
            @fadeIn
            *ngIf="address.touched && address.invalid"
            class="alert alert-danger">
              🛑 address is required.
          </div>
        
      </div>
      
      <div class="form-group">
        
        <label for="city">City</label>
        
        <input 
          #city="ngModel"
          (keyup)="checkCapsLock($event)"
          [(ngModel)]="shipping.city"
          name="city"
          id="city"
          type="text"
          class="form-control"
          required>
        
        <div 
          @fadeIn
          *ngIf="city.touched && city.invalid"
          class="alert alert-danger">
            🛑 city is required.
        </div>
        
      </div>
      
      <div 
        @toastNotification
        *ngIf="capsIsOn"
        class="alert alert-warning">
          ⚠ CapsLock is on.
      </div>
      
      <button 
        [disabled]="f.untouched || f.invalid"
        class="btn order-submit-btn">
          Place order
      </button>
      
      <a 
        routerLink="/shopping-cart"
        class="btn order-back-btn">
          Back to cart
      </a>
      
      <div 
        @toastNotification
        *ngIf="isSaved"
        class="alert alert-success shipping-saved">
          ⏳ Placing your order...
      </div>
    </form>
  </div>
  <div @slideInTop class="col-md-6 mt-5 mb-5">
    <shopping-cart-summary></shopping-cart-summary>
  </div>
</div>

<!-- 🐱‍🚀 -->
