
<h4 @slideInTop class="mt-4">🍃 Your Orders</h4>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody 
    [@listAnimationWrap]="orders?.length">
    <tr 
      @listAnimationItem 
      *ngFor="let order of orders; let l = last"
      (@listAnimationItem.done)="callLast(l)">
      <div *ngIf="order.userId === user.uid" style="display: contents;">
        <td>
          <div class="name-group">
            <strong>{{ order.shipping.name }}</strong>
            <small class="small">{{ user.email }}</small>
          </div>
        </td>
        <td>{{ order.datePlaced | date}}</td>
        <td>{{ order.items.length }}</td>
        <td>{{ getTotalPrice(order.items, order.items.length) | currency:'USD':'symbol' }}</td>
      </div>
    </tr>
  </tbody>
  <tfoot 
    @fadeIn
    *ngIf="lastOne">
    <tr>
      <th></th>
      <th></th>
      <th><strong>Grand total:</strong></th>
      <th><strong>{{orderTotal | currency:'USD':'symbol' }}</strong></th>
    </tr>
  </tfoot>
</table>
