<!--  -->
<navbar></navbar>

<div class="container-fluid o-container">
  
  <router-outlet></router-outlet>
  
  <div class="bg-image"></div>
  
  <div class="footwrap">
    <div class="angular"></div>
    <div class="firebase"></div>
    <div class="ngrx"></div>
    <small class="footnote">© 2021 Michael Cote</small>
  </div>

  <scroll-progress-read></scroll-progress-read>

  <!--  -->
  <div @fadeOutLong class="main-loading" *ngIf="(categoriesLoading$|async)||(productsLoading$|async)||(cartLoading$|async)">
    <!-- loading nutrients animated -->
    <div class="loadingio-spinner-spinner-66dq5hz7hr">
      <div class="ldio-rm0bvq5jb0n">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
<!-- scroll-progress-read on line 15  v-->