// 
@import '../../../scss/variables.scss';

.o-new-product-btn {
  background-color: $carrot-hov;
  color: $white;
  margin: 1rem 0rem 0rem 1rem;
  border-radius: $borderRad;
  transition: $transition;
  backface-visibility: hidden;
  
  &:hover {
    background-color: $carrot;
  }
  
  &:focus, :active {
    box-shadow: none;
  }
  
  &:active {
    transform: scale3d(0.95, 0.95, 1);
  }
}

table {
  border-radius: $borderRad;
  margin: 1rem;
  width: calc(100% - 2rem);
  
  thead {
    user-select: none;
    background-color: $darkGreen;
    color: $tanish;
  }
  
  tbody {
    
    tr {
      background-color: hsla(47, 80%, 90%, 0.25);
      transition: $transition;
      &:hover {
        background-color: hsla(47, 80%, 90%, 0);
      }
    }
  }
  
  a {
    color: $carrot-hov;
    font-size: 1.25rem;
    font-weight: bold;
    transition: $transition;
    &:hover {
      color: $carrot;
      text-decoration: none;
    }
  }
}