
<a routerLink="/admin/products/new" class="btn o-new-product-btn">New Product</a>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products$ | async">
      <td>{{p.title}}</td>
      <td>{{p.category}}</td>
      <td>{{p.price | currency:'USD':'symbol'}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">edit</a>
      </td>
    </tr>
  </tbody>
</table>