
<a routerLink="/admin/products/new" class="btn o-new-product-btn">New Product</a>

<input 
  #query
  (keyup)="searchProducts(query.value)"
  type="text" 
  class="form-control" 
  placeholder="🔎 Search all {{filteredProducts?.length}} products...">

  <!-- TODO add 3rd. party data-table for pagination & filtering -->
  <!-- https://www.ngdevelop.tech/best-angular-tables/ -->

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="!loadBuffer" [@listAnimationWrap]="filteredProducts?.length">
    <tr *ngFor="let p of filteredProducts" @listAnimationItem>
      <td>{{p.title}}</td>
      <td>{{p.category}}</td>
      <td>{{p.price | currency:'USD':'symbol'}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">edit</a>
      </td>
    </tr>
  </tbody>
  <div *ngIf="loadBuffer" class="load-buff">
    🌽
  </div>
  <div 
    @fadeIn
    *ngIf="filteredProducts?.length === 0"
    class="alert alert-warning">
      <div class="no-no">🙄</div> No products match.
  </div>
</table>
