
  <a routerLink="/admin/products/new" class="btn o-new-product-btn">New Product</a>
  <input 
    #query
    (keyup)="searchProducts(query.value)"
    type="text" 
    class="form-control" 
    placeholder="Search...">



<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <div 
      *ngIf="filteredProducts?.length === 0"
      class="alert alert-warning">
        🙄 No products match.
    </div>
    <tr *ngFor="let p of filteredProducts">
      <td>{{p.title}}</td>
      <td>{{p.category}}</td>
      <td>{{p.price | currency:'USD':'symbol'}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">edit</a>
      </td>
    </tr>
  </tbody>
</table>