<!--  -->

<div class="row">
  <div class="col-md-2">
    <div
      @slideInTop
      (@slideInTop.done)="isAnimeDone = true"
      *ngIf="isAnime && categories$ | async"
      class="list-group">
      <a 
        class="list-group-item"
        [class.activeLink]="!category"
        routerLink="/">
        All items
      </a>
      <a
        *ngFor="let c of categories$ | async"
        routerLink="/"
        [queryParams]="{category: c.key}"
        [class.activeLink]="category === c.key"
        class="list-group-item">
        {{ c.name }}
      </a>
    </div>
  </div>
  <div class="col">
    <div
      *ngIf="isAnimeDone && filteredProducts"
      [@listAnimationWrapCard]="filteredProducts"
      class="row">
      
      <ng-container
        *ngFor="let p of filteredProducts;
        let i = index;
        let e = even;
        let l = last">
        
        <div class="col-md-6">
          <div 
            @listAnimationItemCard
            class="card"
            [class.right-col]="!e"
            [class.last-col]="l"
            style="width: 18rem;">
            
            <img [src]="p.imageUrl" class="card-img-top" alt="&nbsp; 🤷‍♂️ image not found">
            
            <div class="card-body">
              
              <h5 class="card-title">{{p.title}}</h5>
              
              <p class="card-text">{{p.category}}</p>
              
              <p class="card-text"><strong>{{ p.price | currency:'USD':'symbol' }}</strong></p>
              
              <div class="btm-btns-wrp">
                <button (click)="addToCart(p)" class="btn btn-card">Add to cart</button>
              </div>
              
            </div>
            
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
<div @fadeIn *ngIf="!isAnime" class="row load-wrap">
  <div class="load-buff">
      🌽
  </div>
  <span class="mt-auto ml-2">Loading products...</span>
</div>
<!-- 🎇 -->