/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap';
@import '../src/scss/variables.scss';

// main container 
.o-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 4rem 1rem 1rem 1rem;
  
  .bg-image {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('./assets/images/nav_nachos@2x.png');
    background-position: left 50% bottom 75%;
    background-repeat: no-repeat;
    opacity: 0.15;
    transform: rotateY(180deg) scaleX(4);
    position: fixed;
    z-index: -1;
  }
}
// 
