/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import '../src/scss/variables.scss';

// main container 

body {
  background-color: rgba(250, 241, 209, 0.2);
  scroll-behavior: smooth;
  scrollbar-color: $lightGreen-hov;
  scrollbar-width: thin;
  scrollbar-track-color: $bluegrey;
  overflow-y: overlay;
  overflow-x: hidden;
}

// scrollbar 
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border: 2px solid $bluegrey;
  border-radius: 8px;
  background-color: $bluegrey-hov;
  &:hover {
    border: 2px solid $tanish-hov;
    background-color: $bluegrey;
  }
}

.o-container {
  padding-top: 4rem;
  min-height: 100vh;
  
  .bg-image {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/images/nav_nachos@2x.png');
    background-position: left 50% bottom 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: rotateY(180deg) scaleX(4);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

.footwrap {
  user-select: none;
  position: fixed;
  bottom: 0.1rem;
  left: 0.2rem;
  display: flex;
  
  .footnote {
    color: $darkGreen-hov;
  }
  
  .angular {
    height: 1rem;
    width: 1rem;
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/angular-2038881-1720094.png');
    background-size: cover;
  }
  
  .firebase {
    height: 1rem;
    width: 1rem;
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/firebase-1-282796.png');
    background-size: cover;
  }
}

// 
