// colors 
$darkGreen: #203c24;

$lightGreen: #5fab6a;
$lightGreen-hov: #4a8c54;

$tanish: hsl(47, 80%, 90%);
$tanish-hov: hsl(47, 80%, 80%);

$bluegrey: #4a8085;

$carrot: hsl(29, 79%, 56%);
$carrot-hov: hsl(29, 79%, 46%);

$black: #000;

$white: #fff;

// borders 

$borderRad: 0.1rem;

$transition: 0.2s;

