// colors 
$darkGreen: hsl(129, 30%, 18%);
$darkGreen-hov: hsl(129, 30%, 8%);

$lightGreen: hsl(129, 31%, 52%);
$lightGreen-hov: hsl(129, 31%, 42%);

$tanish: hsl(47, 80%, 90%);
$tanish-hov: hsl(47, 80%, 80%);

$bluegrey: hsl(185, 29%, 41%);

$carrot: hsl(29, 79%, 56%);
$carrot-hov: hsl(29, 79%, 46%);

$black: #000;

$white: #fff;

// borders 

$borderRad: 0.1rem;

$transition: 150ms;

